<mat-drawer-container class="sidenav-container">

  <mat-drawer #drawer class="sidenav" mode="side" opened="true" [autofocus]="false">
    <mat-toolbar class="toolbar-header">
      <span>Menu</span>
      <button mat-icon-button (click)="drawer.close()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <button mat-icon-button class="buttons-list" (click)="goToContacts()">
        <mat-icon fontIcon="person"></mat-icon>
      </button>
      <button mat-icon-button class="buttons-list">
        <mat-icon fontIcon="settings"></mat-icon>
      </button>
      <button mat-icon-button class="buttons-list" (click)="logout()">
        <mat-icon fontIcon="logout"></mat-icon>
      </button>
    </mat-nav-list>

    <div class="user">
      <p>Logado como usuario</p>
    </div>
  </mat-drawer>

  <mat-drawer-content class="content" [autofocus]="false">
    <mat-toolbar>
      <button mat-icon-button (click)="drawer.toggle()" class="menu-button">
        <mat-icon fontIcon="menu"></mat-icon>
      </button>
    </mat-toolbar>
  </mat-drawer-content>

</mat-drawer-container>
