<div>
    <app-form
    formTitle="Criar conta"
    buttonForm="Criar conta"
    signinOrSignup="Já tem uma conta? Acessar conta"
    (signinOrSignupButton)="signUpClick()"
    (formSubmit)="onSubmitSignUp()"
    [form]="form"
    >
    <app-input label="Nome" type="text" controlName="name" [form]="form" color="dark"></app-input>
    <app-input label="Email" type="email" controlName="email" [form]="form" color="dark"></app-input>
    <app-input label="Telefone" type="text" controlName="phoneNumber" [form]="form" color="dark"></app-input>
    <app-input label="Senha" type="password" controlName="password" [form]="form" color="dark"></app-input>
    <app-input label="Confirmar Senha" type="password" controlName="confirmPassword" [form]="form" color="dark"></app-input>
    </app-form>
</div>
