.form-container {
    display: flex;
    justify-content: flex-end; // Alinha todo o conteúdo para a direita
    align-items: center;
    width: 100%;
    height: 100vh; 
    overflow: hidden;// Preenche a altura da tela
    .form-content {
        width: 400px; // Define a largura do form
        background-color: rgba(0, 0, 0, 0.6); // Cor de fundo com opacidade
        backdrop-filter: blur(5px); // Deixa o fundo levemente desfocado
        border-radius: 12px;
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        color: white;
        height: 100%;
        .form-header {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .signin-or-signup{
                color: #fff;
                border: none;
                outline: none;
            }
        }
    
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 100%;
        }
    }

}
