<h2 mat-dialog-title>
    Adicionar Contato
</h2>
<mat-dialog-content>
    <div class="content">
         <div class="avatar">
             <mat-icon fontIcon="person"></mat-icon>
         </div>
        <button mat-button>
            <mat-icon fontIcon="add"></mat-icon>
            Adicionar foto
        </button>
    </div>

    <div class="inputs" [formGroup]="form" >
        <app-input label="Nome" type="text" controlName="name" [form]="form"></app-input>
        <app-input label="Telefone" type="text" controlName="phone" [form]="form"></app-input>
        <app-input label="Email" type="email" controlName="email" [form]="form"></app-input>
        <app-input label="Endereço" type="text" controlName="address" [form]="form"></app-input>
        <app-input label="Observação" type="text" controlName="description" [form]="form"></app-input>
        <mat-checkbox formControlName="favorite">Favorito</mat-checkbox>
    </div>

    <div class="buttons">
        <button mat-button mat-dialog-close class="cancel-button">Cancelar</button>
        <button mat-button class="save-button" (click)="onSubmit()">Salvar</button>
    </div>

</mat-dialog-content>