<div class="tema-dark">
    <app-form
    formTitle="Acessar conta"
    buttonForm="Entrar"
    signinOrSignup="Não tem uma conta? Criar conta"
    (signinOrSignupButton)="signinClick()"
    (formSubmit)="onSubmitSignIn()"
    [form]="form"
    >
            <mat-label>Email</mat-label>
            <app-input label="Email" type="email" controlName="email" [form]="form" color="dark"></app-input>
    
            <mat-label>Senha</mat-label>
            <app-input label="Senha" type="password" controlName="password" [form]="form" color="dark"></app-input>
    </app-form>

</div>