.avatar{
    border-radius: 50%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button{
        color: #000
    }
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.buttons{
    display: flex;
    gap: 12px;
    justify-content: end;

    .save-button{
        background-color: #3027a2;
        border: 1px solid #e4e4eb;
        color: #fff
    }
    .cancel-button{
        border: 1px solid #3027a2;
        color: #3027a2
    }
}